[submodule "config/bat/syntaxes/tmux"]
  path = config/bat/syntaxes/tmux
  url = https://github.com/gerardroche/sublime-tmux.git
[submodule "config/bat/syntaxes/yarn"]
  path = config/bat/syntaxes/yarn
  url = https://github.com/alexkuz/sublime-yarn-lock.git
[submodule "config/alacritty/alacritty-theme"]
  path = config/alacritty/alacritty-theme
  url = https://github.com/alacritty/alacritty-theme.git
