fish/.config/fish/fundle
fish/.config/fish/fish_variables
fish/.config/fish/functions/fundle.fish

codium/.config/VSCodium/*
!codium/.config/VSCodium/User
codium/.config/VSCodium/User/History
codium/.config/VSCodium/User/globalStorage
codium/.config/VSCodium/User/workspaceStorage
codium/.config/VSCodium/User/profiles
