[tools]
node = 'lts'
bun = 'latest'
deno = 'latest'
java = 'lts'
maven = 'latest'
gradle = 'latest'
kotlin = 'latest'
python = 'latest'
go = 'latest'
"ubi:adwinying/php" = "latest"
"ubi:composer/composer" = "latest"

[env]
_.file = '{{ cwd }}/.env'
_.source = '{{ cwd }}/.venv/bin/activate'
_.path = [
  '{{ cwd }}',
  '{{ cwd }}/result/bin',
  '{{ cwd }}/target/debug',
  '{{ cwd }}/target/release',
  '{{ cwd }}/node_modules/.bin',
]

[tasks."java:execute"]
description = 'Run a simple java project'
run = 'java -cp dist {{arg(name="class-name")}}'
usage = 'arg "class-name" default="Main"'
depends = ['java:build']

[tasks."java:build"]
description = 'Builds a simple java project'
run = 'javac -d dist $(find src -name "*.java")'

[tasks."jar:build"]
run = 'jar cfm "$(basename "$PWD").jar" "$(find -iname manifest.mf)" -C dist .'
description = 'generates a .jar file for a simple java project'

[tasks."jar:execute"]
run = 'java -jar "$(basename "$PWD")".jar'
description = 'Execute the jar file for a simple java project'
depends = ['jar:build']

[tasks."python:venv"]
description = 'create a python virtual environment'
run = 'python -m venv {{arg(name="dir-name")}}'
usage = 'arg "dir-name" default=".venv"'

[tasks."python:serve"]
description = 'serve files using python'
run = 'python -m http.server 1234 --directory {{arg(name="dir-name")}}'
usage = 'arg "dir-name" default="."'

[tasks."python:requirements"]
description = 'install dependencies from requirements file'
run = 'pip install -r {{arg(name="requirements-file")}}'
usage = 'arg "requirements-file" default="requirements.txt"'

[tasks."python:freeze"]
description = 'freeze deps from pip'
run = 'pip freeze > {{arg(name="requirements-file")}}'
usage = 'arg "requirements-file" default="requirements.txt"'

[settings]
idiomatic_version_file_enable_tools = ["node", "java"]
all_compile = false
experimental = true
node.gpg_verify = false
python.venv_stdlib = true
python.venv_auto_create = true
